{{ attach_library('time_ticker/time_ticker_js') }}

<div class="block-time">
    <p><span id="time">{{ current_time|split('-', 2)[1] }}</span></p>
    <p><span id="date">{{ current_time|split('-', 2)[0] }}</span></p>
    <p>Time in {{ city }}, {{ country }}</p>
</div>